.case{
  margin-top: 165px;

  &__page{
    display: flex;
    gap: 40px;

    & h2{
      font-weight: 500;
      font-size: 40px;
      background: $green;
      padding: 0 7px;
      border: none;
      border-radius: 14px;
    }
    & p{
      font-weight: 400;
      font-size: 18px;
      width: 580px;
    }
  }

  &__title{
    display: flex;
    background: #191a23;
    border: none;
    border-radius: 45px;
    margin-top: 80px;
    padding: 70px 0px 63px 0px;
    gap: 43px;
    justify-content: space-between;

    &-line{
      padding: 0 6px;
    }

    &-item{
      &:last-child{
        margin-right: 60px;
      }
      &:first-child{
        margin-left: 60px;
      }
      & p{
        font-weight: 400;
        font-size: 18px;
        color: white;
        margin-bottom: 20px;
      }

      & a{
        text-decoration: none;
        display: flex;
        gap: 15px;

        & p{
          font-weight: 400;
          font-size: 20px;
          color: $green;
        }

        & svg{
          fill: $green;
          padding-top: 3px;
        }
      }
    }
  }
}