.contact{
  &__page{
    display: flex;
    margin-top: 100px;
    gap: 40px;

    h2{
      font-weight: 500;
      font-size: 40px;
      background: $green;
      padding: 0 7px;
      border: none;
      border-radius: 14px;
    }

    p{
      font-weight: 400;
      font-size: 18px;
      max-width: 323px;
    }
  }

  &__form{

    &-box{

      padding: 60px 100px;
      background: $grey;
      border: none;
      border-radius: 45px;
      margin-top: 80px;
    }

    &-toggle{
      display: flex;
      gap: 35px;
      margin-bottom: 40px;

      label {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;

        input[type="radio"] {
          width: 28px;
          height: 28px;
          cursor: pointer;
          margin-right: 14px;
        }
      }
    }
    &-group{
      margin-bottom: 25px;
      width: 450px;

      label {
        font-weight: 400;
        font-size: 16px;
        display: block;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 100%;
        padding: 18px 30px;
        font-size: 18px;
        font-weight: 400;
        color: #898989;
        border: 1px solid $black;
        border-radius: 14px;

        &:focus {
          outline: none;
          border-color: #333;
        }
      }

      textarea {
        resize: vertical;
      }
    }
  }
}

.submit-button{
  background: $black;
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
  width: 520px;
  border: none;
  border-radius: 14px;
  margin-top: 40px;
}